// Mixins & Utilities
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}
@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &::-moz-placeholder          {@content}
  &:-moz-placeholder           {@content}
  &:-ms-input-placeholder      {@content}  
}


// Colors
$tactic: #ff9200;       
$methodology: #b700c2; 
$principle: #166ce3;    
$theory: #f93732;       
$story: #08eb8c;        
$gray: #606162;
//$gray: #b3b3b3;         
$lightgray: #afafaf;
$lightergray: #f7f7f7;
$darkgray: #333;
.type-story { 
    a:link, a:visited, a:hover, a:active { color: $story; } 
    svg * { fill: $story; }
}
.type-theory { 
    a:link, a:visited, a:hover, a:active { color: $theory; } 
    svg * { fill: $theory; }
}
.type-tactic { 
    a:link, a:visited, a:hover, a:active { color: $tactic; } 
    svg * { fill: $tactic; }
}
.type-principle { 
    a:link, a:visited, a:hover, a:active { color: $principle; } 
    svg * { fill: $principle; }
}
.type-methodology { 
    a:link, a:visited, a:hover, a:active { color: $methodology; } 
    svg * { fill: $methodology; }
}
a {
    text-decoration: underline;
}
a:link, a:visited, a:hover, a:active {
    &.tactic { color: $tactic; }
    &.methodology { color: $methodology }
    &.principle { color: $principle; }
    &.theory { color: $theory; }
    &.story { color: $story; }
    &.black { color: black; }
    &.gray { color: $gray; }
}
.tactic { color: $tactic; }
.methodology { color: $methodology }
.principle { color: $principle; }
.theory { color: $theory; }
.story { color: $story; }
.black { color: black; }
.gray { color: $gray; }
.pattern {
    svg * { fill: none; } 
    &.tactic svg { line, polyline, circle { stroke: $tactic; }} 
    &.methodology svg { line, polyline, circle { stroke: $methodology; }} 
    &.principle svg { line, polyline, circle { stroke: $principle; }} 
    &.theory svg { line, polyline, circle { stroke: $theory; }} 
    &.story svg { line, polyline, circle { stroke: $story; }} 
    &.black svg { line, polyline, circle { stroke: black; }} 
    &.gray svg { line, polyline, circle { stroke: $gray; }} 
}


// Typography
@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir-Book.ttf');
}
@font-face {
    font-family: 'Avenir';
    font-weight: bold;
    src: url('/assets/fonts/Avenir-Black.ttf');
}
@font-face {
    font-family: 'KnockoutBantam';
    src: url('/assets/fonts/Knockout-HTF67-FullBantamwt.otf');
}
@font-face {
    font-family: 'KnockoutCruiser';
    src: url('/assets/fonts/Knockout-HTF72-FullCruiserwt.otf');
}
@font-face {
    font-family: 'MyriadPro';
    src: url('/assets/fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: 'Painthand';
    src: url('/assets/fonts/Paint-hand_limited-set.ttf');
}


// General
$margin: 6px;
$transition: 0.1s;

html {
    overflow-y: scroll;
    overflow-x: hidden;
}
body {
    font-family: "Avenir";
    font-size: 14px;
    height: 100%;
}
a:link, a:visited, a:hover, a:active { 
    color: $gray; 
} 
h3 {
    font-family: 'KnockoutBantam';
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
}
h4 {
    font-family: 'Avenir';
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1;
}
blockquote {
    font-family: 'Painthand';
    text-transform: uppercase;
    border-left: none;
    position: relative;
    line-height: 1.75;
    margin-bottom: 0;
    p {
        padding-top: 3 * $margin;
    }
    &.pull-quote {
        width: 50%;
        float: left;
    }
}
blockquote::before {
    position: absolute;
    content: "";
    width: 42px;
    border-top: 2px solid black;
}
.module-type {
    font-family: 'Painthand';
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
}
.module-title {
    font-family: 'KnockoutBantam';
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 1px;
}

svg * {
    @include prefix(transition, fill $transition linear, webkit moz);
    fill: $lightgray;
}
svg-inline.selected * {
    fill: black !important;
}
.selected {
    font-weight: bold;
    text-decoration: none !important;
    svg-inline * {
        fill: black;
    }
}
.clickable {
    cursor: pointer;
}
.border-top {
    border-top: 2px solid black;
    padding-top: 2 * $margin;
    padding-bottom: 2 * $margin;
}
.border-bottom {
    border-bottom: 2px solid black;
    padding-top: 2 * $margin;
    padding-bottom: 2 * $margin;
}
.nop > p { // For [innerHTML] bindings where you don't want markdown's surrounding <p> tag
    display: inline;
}


// Background
.background {
    display: fixed;
    top: 0; bottom: 0;
    left: 0; right: 0;
}


// Fixed header
$nav-height: 96px;
.fixed-container-wrapper {
    position: fixed;
    z-index: 1000; // XXX: How high is necessary?
    width: 100%;
}
#fixed-nav {
    top: 0;
    background: white;
    z-index: 1050;
    height: $nav-height;
}
.overlay {
    opacity: 0;
    background: $lightgray;
    left: 0; right: 0;
    top: 0; bottom: 0;
    z-index: 1500;  // Anything above the overlay needs to be z-indexed > 1500
    position: fixed;
    @include prefix(transition, opacity 2s linear, webkit moz);
}
.overlay.visible {
    opacity: .75;
}


// Content area (everything below the nav)
.content-area {
    position: relative;
    @include prefix(transition, right $transition linear, webkit moz);
    right: 0;
    margin-top: $nav-height;
}
.logo {
    position: relative;
    left: 20px;
    top: 8px;
    z-index: 1550;
    display: inline-block;
}


// Tools
.tools, .sidebar {
    border: 2px solid black;
    z-index: 1100;
    background: white;
    padding: $margin;
    text-align: center;
    a { color: black; }
    .tool-text {
        text-transform: uppercase;
        font-weight: bold;
        color: $lightgray;
        @include prefix(transition, color $transition linear, webkit moz);
        padding-top: $margin;
    }
    .selected .tool-text {
        color: black;
    }
}
.tools {
    &.opened {
        .tools-toggle svg { transform: translate(-4px,-2px) rotate(60deg); }
        .tools-toggle svg * { fill: black; }
    }
}

.navbar-fixed-bottom {
    height: 13 * $margin;
    &.opened {
        height: 100vh;
        z-index: 1050;
    }
    .icon {
        vertical-align: bottom;
        display: inline-block;
        padding: $margin;
    }
    .icon > * {
        vertical-align: middle;
        display: inline-block;
    }
    .icon.tools-toggle {
        display: none;
    }
    .tool-text {
        width: $margin * 10;
    }
}


/*
.tools, .sidebar {
    position: absolute;
}
.tools {
    right: 0; top: 0;
    min-height: 100%; 
    width: $margin * 11;
}
*/
.navbar-right-side .tools {
    .icon {
        padding: 4 * $margin 0 0 0;
    }
    .icon.tools-toggle {
        padding: 2 * $margin 0 2 * $margin 0;
    }
    .tools-toggle svg {
        margin: $margin;
        transform: translate(-2px,0) rotate(0deg);
        @include prefix(transition, transform $transition linear, webkit moz);
    }
}
$sidebar: 265px;
.sidebar {
    width: $sidebar;
    right: 2 - $sidebar; top: 0;
    //right: 2 -$sidebar - $margin * 18;
    height: 100%;
    .top-buttons {
        position: absolute;
        top: 0; left: 0; right: 0;
        z-index: 50;
        background: white;
    }
    .scrollable {
        padding-top: 8 * $margin;
        overflow-y: scroll;
        height: 100%;
    }
    >div >div {
        //padding: 2 * $margin;
    }
    .sidebar-icon {
        margin: $margin 0;
        width: 49%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: $margin * 5;
    }
    .sidebar-icon:first-of-type {
        border-right: 2px solid black;  // TODO: fix for arabic
    }
    .downloaders, .saved-module, .information, .news-post {
        margin: 2 * $margin;
        padding: 2 * $margin;
    }
    .information svg-inline {
        display: inline-block;
        position: relative;
        top: 8px;
    }
    .saved-module {
        .module-snapshot {
            padding: 2 * $margin 0;
        }
        .module-title {
            padding-top: 2 * $margin;
        }
        .module-unsave, .module-share {
            svg-inline {
                display: inline-block;
                vertical-align: middle;
            }
            text-transform: uppercase;
            font-weight: bold;
            color: $lightgray;
        }
        border-top: 2px solid black;
        &.first {
            margin-top: 0;
            border-top: 0;
            padding-top: 0;
        }
    }
}


// Menu
$menu-top-size: 74px;
$menu-width: 248px;
menu {
    display: inline-block;
    padding: 0;
    .menu-toggle {
        svg-inline.open-icon {
            display: inline-block;
            position: relative;
            left: 6px;
        }
        img.close-icon {
            visibility: hidden;
            &.visible { visibility: visible; }
            position: absolute;
            z-index: 1600;
        }
    }
    .menu-outer {
        position: absolute;
        top: 0;
    }
    .menu {
        position: relative;
        right: 18px;
        height: 100vh;  // TODO: polyfill or js
        width: $menu-width;
        overflow: hidden;
        z-index: 1550;
        background: white;
        border: 2px solid black;
    }
    .menu-inner {
        position: relative;
        height: 100vh;
        overflow-y: scroll;
        margin-right: -100px;   // Hide scrollbar
    }
    .menu-top {
        position: fixed;
        height: $menu-top-size;
        width: $menu-width - 4;
        border-bottom: 2px solid black;
        background: white;
        z-index: 1550;
        box-shadow: 0 2*$margin 0 0 white;
    }
    .menu-scroll {
        margin-top: $menu-top-size;
        div:first-of-type { border-top: none; }
    }
    .menu-section {
        h3 {
            margin-top: 0;
        }
        em {
            color: $gray;
            font-size: 13px;
            display: inline-block;
        }
        p {
            font-size: 12px;
        }
        p:first-of-type {
            margin-top: 20px;
        }
        p:last-of-type {
            margin-top: 20px;
            margin-bottom: 6px;
        }
        p.clickable {
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: underline;
            color: gray;
            margin-bottom: 18px;
        }
        svg-inline {
            margin-right: 20px;
        }
        .wrapper { 
            position: relative;
            input {
                padding: 5px 70px 5px 10px;
                margin-bottom: 20px;
                width: 100%;
                border: 2px solid black;
            }
            .submit {
                color: gray;
                position: absolute;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: underline;
                right: 8px; top: 8px;
            }
        }
        width: $menu-width;
        padding: 3 * $margin;
        border-top: 2px solid black;
    }
}

// Footer
.footer {
    margin: 16 * $margin 0 4 * $margin 0;
    border-top: 2px solid black;
    text-align: center;
    color: $gray;
    font-style: italic;
    font-size: 13px;
    img {
        padding: 2 * $margin;
    }
}


// Search
$search-height: 50px;
.search-box {
    padding: $margin * 2;
    padding-top: $margin * 4;
    width: 100%;
    height: $search-height;
    border: 2px solid black;
    outline: none;
    @include placeholder {
        font-style: italic;
    }
}

// Types
.type-representation {
    text-align: left;
    h3 {
        margin-top: 0;
        margin-bottom: 2px;
    }
    svg { max-width: 100%; }
    &.first p.definition {
        padding-top: 7*$margin;
    }
    &.expanded {
        h3 { padding-top: 3*$margin; }
        svg { border-right: 0; }
    }
    .definition {
        p { padding-top: $margin; }
    }
}
.module-types {
    //@include prefix(transition, height $transition linear, webkit moz);
    border: 2px solid black;
    border-top: 0;
    text-align: center;
    background: white;
    position: relative;
    padding: 2*$margin 0;
    box-shadow: 0 2*$margin 0 0 white;
    > div {
        overflow: hidden;
        height: 100%;
    }
    .loader-wrapper {
        min-height: 100px;
    }
    &.expanded::before {
        content: '';
        position: absolute;
        border: 1px solid black;
        height: 40px; width: 0;
        left: 51%; top: 95%;
    }
    // Styles for selected 
    .type-list, .type-description {
        text-align: left;
        padding: 2 * $margin 7 * $margin;
        .expanded {
            padding: 4 * $margin 7 * $margin;
        }
        svg-inline {
            display: inline-block;
        }
    }
    .type-list {
        position: relative;
        z-index: 100;
        .type-link {
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            margin-right: 2 * $margin;
            .selected {
            }
            h3.selected {
                margin-top: 0;
                font-weight: normal;
                font-size: $margin * 7;
            }
            div { text-decoration: underline; }
            .pattern {
                position: absolute;
                z-index: -50;
                pointer-events: none;
                bottom: 7 * $margin;
                svg {
                    position: relative;
                    right: 10%;
                }
                svg * {
                    fill: none;
                }
            }
        }
        .regions {
            display: inline-block;
            vertical-align: top;
        }
        .expanded {
            &.type-link {
                padding: $margin 0;
                display: block;
                * { 
                    opacity: 1.0;
                    @include prefix(transition, opacity $transition linear, webkit moz);
                    &.selected { opacity: 0; }
                }
            }
        }
    }
    .type-pattern {
        h3 {
            font-size: 7 * $margin;
            position: absolute;
            z-index: 50;
            right: 4px; top: 5 * $margin;
        }
        svg-inline {
            position: absolute;
            right: 0; top: 3 * $margin;
        }
    }
    .type-description {
        p { margin-right: 50px; }
        h3 {
            border-bottom: 2px solid black;
            padding-bottom: 4px;
            width: 50%;
        }
        h3::before {
            content: '';
            position: relative;
            border: 1px solid black;
            height: 30px; width: 0;
            left: 75%; top: 25px;
        }
        .expanded {
            h3 {
                text-decoration: none;
            }
            .type-link {
                display: inline-block;
            }
        }
    }
    .arrow {
        position: absolute;
        z-index: 1000;
        bottom: 0; right: 0;
        padding: 2 * $margin + 2 4 * $margin;
        display: inline-block;
        @include prefix(transition, transform $transition linear, webkit moz);
        transform: rotate(-90deg);
        svg * { fill: $lightgray; }
    }
    .arrow.selected {
        transform: rotate(-270deg);
        svg * { fill: black; }
    }
}

// Gallery
.gallery {
    padding-top: $search-height;
    @include prefix(transition, margin-top $transition linear, webkit moz);
}
.gallery-sort {
    text-align: center;
    a {
        color: $darkgray;
        text-decoration: underline;
    }
    .sort-by {
        text-transform: uppercase;
    }
    .view-as, .sort-by {
        margin-bottom: 8 * $margin;
    }
    .clickable {
        text-decoration: underline;
    }
    .gallery-clear {
        padding-top: 6 * $margin;
        text-decoration: none;
    }
}
.gallery-sort, .gallery-list, .gallery-info {
    padding-top: 2 * $margin;
}
.gallery-clear {
    font-weight: bold;
    padding-right: 4 * $margin;
    text-transform: uppercase;
    .icon {
        font-size: 150%;
    }
}
.gallery-module-grid {
    .make-it-square {
        margin-top: 110%;
    }
    .module-save {
        padding: 2*$margin 0;
        width: 50px;
        svg path { fill: white; }
    }
    .region-icon {
        position: absolute;
        top: 2 * $margin; right: 2 * $margin;
        svg * { fill: $story; }
    }
    .module-title {
        color: white;
        padding-right: 15px;
        &.story {
            padding-right: 60px;
        }
    }
    .module-content {
        overflow: hidden;
        padding: 2 * $margin;
        z-index: 100;
        position: relative;
        top: 50%;
        .offset {
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    }
    .module-image {
        background-size: cover;
        background-position: 50% 50%;
        opacity: 0;
        @include prefix(transition, opacity .75s ease-in, webkit moz);
    }
    .module-overlay {
        background: black;
        opacity: 0.5;
        z-index: 50;
    }
    .module-content, .module-overlay, .module-image, {
        position: absolute;
        top: 4 * $margin; bottom: 0;
        left: 4 * $margin; right: 0;
    }
    .module-snapshot {
        position: absolute;
        top: 2 * $margin; bottom: 2 * $margin;
        left: 2 * $margin; right: 2 * $margin;
        font-weight: bold;
        z-index: -50;
        opacity: 0;
    }
    .module-snapshot, .module-hide-on-hover, .module-overlay {
        @include prefix(transition, opacity $transition linear, webkit moz);
    }

}
.gallery-module-list {
    .module-type-accent {
        padding-top: 4 * $margin;
        margin-bottom: 2 * $margin;
        width: 15%;
        border-bottom: 2px solid black;
    }
    .module-content {
        height: 36 * $margin;
    }
    .module-snapshot {
        padding-top: 3 * $margin;
    }
}


// Detail
detail {
    h5 {
        text-transform: uppercase;
        padding: $margin 2 * $margin;
        border: 2px solid black;
        cursor: pointer;
        font-weight: bold;
        display: inline-block;
    }
    .module-image {
        padding-top: 35%;
        background-size: cover;
        background-position: 50% 35%;
        position: relative;
        .pattern {
            position: relative;
            svg-inline {
                position: absolute;
                z-index: 100;
                margin: -25% 0 0 0;
                left: -197px;
            }
        }
        .pattern-snapshot {
            background-repeat: no-repeat;
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }
        .overlay {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            z-index: 0;
            background: black;
            opacity: .5;
        }
        .module-header, .module-image-caption {
            position: absolute;
            top: 18%; bottom: 0;
            left: 7%; right: 4%;
            color: white;
            z-index: 100;
        }
        .module-image-caption {
            top: initial; 
            p::before {
                content: "/";
                position: absolute;
                left: -2 * $margin;
            }
        }
        .module-type {
            font-size: 42px;
        }
        .module-title {
            margin-top: 10px;
            font-size: 80px;
        }
        .module-save, .module-share {
            display: inline-block;
            text-transform: uppercase;
            font-weight: bold;
            svg-inline {
                display: inline-block;
                position: relative;
                top: 8px;
                width: 35px;
            }
            svg * { fill: white; }
        }
        .story-extra {
            position: absolute;
            right: 0; top: -2*$margin;
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    .left-side, .right-side {
        margin-top: 32px;
        h3.bigger {
            padding-top: 0;
            padding-bottom: 0;
            color: black;
            font-size: 42px;
            margin-top: 0;
        }
        h4 {
            padding: $margin 0;
            color: $gray;
            text-decoration: underline;
        }
        .clickable {
        }
        .contributor-image {
            width: 100%;
            max-height: 250px;
            border: 2px solid black;
        }
        .tag {
            color: $gray;
        }
    }
    .right-side {
        .risks {
            margin-bottom: 32px;
            &.clickable {
                text-decoration: none;
            }
            .heading {
                border-bottom: $margin solid black;
                margin-bottom: $margin * 2;
                svg-inline, h3 {
                    display: inline-block;
                }
                h3 {
                    margin-left: $margin;
                    margin-bottom: 4px;
                }
                .arrow {
                    @include prefix(transition, transform $transition linear, webkit moz);
                    transform: rotate(-90deg) scale(0.75);
                    svg * { fill: $lightgray; }
                }
                .arrow.selected {
                    transform: rotate(90deg) scale(0.75);
                    svg * { fill: black; }
                }
            }
        }
        .related {
            padding: 4 * $margin;
            padding-top: $margin;
            background: $lightergray;
            h3 {
                padding-left: 22px;
            }
            ul { 
                list-style-type: square;
                text-transform: uppercase;
            }
            li {
                font-weight: bold;
                padding: 2px 0;
            }
        }
    }
    .content {
        margin-top: 32px;
        h3 {
            margin-top: 0;
            margin-bottom: 2 * $margin;
        }
        img {
            max-width: 100%;
        }
        hr.footnotes-sep {
            display: none;
        }
        .module-type {
            margin-top: 3 * $margin;
        }
        .epigraphs {
            margin: 0 2*$margin 2*$margin 2*$margin;
            .attribution * { 
                display: inline;
                color: $gray; 
            }
            .attribution::before { 
                content: "—"; 
                color: $gray; 
            }
        }
        .learn-more {
            h4 {
                margin: 3 * $margin 0;
            }
            a {
                color: $gray;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    .edit-link {
        position: fixed;
        bottom: 0; right: 0;
        text-decoration: none;
        z-index: 2000;
        opacity: 0;
        width: 20px; height: 20px;
        &:hover { 
            opacity: 1; 
            width: initial; height: initial;
            padding: 10px;
        }
    }
}


// Pages & modal window (about)
modal {
    .fixed-container-wrapper {
        padding-top: 50px;
        padding-bottom: 100px;
        top: 0; bottom: 0;
        left: 0;
        z-index: 1900;
        overflow-y: scroll;
        overflow-x: hidden;
        background-color: rgba($lightgray, .75);
        width: initial;
    }
    .inner {
        background: white;
        border: 2px solid black;
        position: relative;
    }
    .upper, .lower { padding: 30px 60px; }
    .lower { padding-bottom: 12*$margin; }
    .upper {
        color: white;
        position: relative;
        h3 { font-size: 40px; }
        .logo { top: 0; }
    }
    .banner {
        background-image: url('/assets/icons/modal.jpg');
        background-size: cover;
        background-position: 50% 50%;
        position: absolute;
        top: 0; bottom: 0;
        left: 15px; right: 15px;
        &::after {
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.5);
            content: "";
            position: absolute;
        }
    }
    .close-icon {
        position: absolute;
        right: -25px; top: 25px;
    }
    .dismiss p {
        position: relative;
        display: inline-block;
        width: 210px;
        bottom: 42px;
        padding: 2*$margin 4*$margin;
        border: 2px solid black;
        background: white;
        text-transform: uppercase;
        font-weight: bold;
    }
    .dismiss {
        text-align: center;
        height: 0;
    }
}
.page, .accordion {
    .page-heading {
        text-align: center;
        h3 { font-size: 48px; }
    }
    h4.heading { 
        //font-size: 3 * $margin; 
        border-bottom: 2px solid black;
        padding: 3 * $margin 2 * $margin;
        margin-bottom: 10 * $margin;
    }
    section {
        padding-bottom: 12 * $margin;
        .content {
            padding-right: 3 * $margin;
            padding-left: 3 * $margin;
        }
    }
    .overline::before {
        position: absolute;
        content: "";
        width: 42px;
        border-top: 2px solid black;
        margin-top: -2 * $margin;
    }
    h5 {
        text-decoration: underline;
        text-transform: uppercase;
        font-weight: bold;
        color: gray;
        margin-top: $margin;
    }
    .links {
        font-weight: bold;
        text-transform: uppercase;
        color: $gray;
    }
}
.about {
    h4.heading svg-inline { display: none; }
    &.accordion {
        h4.heading svg-inline { 
            display: inline-block; 
            vertical-align: bottom;
            @include prefix(transition, transform $transition linear, webkit moz);
            transform: rotate(180deg) scale(0.5);
            svg * { fill: $lightgray; }
        }
        h4.heading { 
            margin: 0;
        }
        section {
            padding: 0;
            .content { padding: 4 * $margin 3 * $margin; }
        }
    }
    .person {
        height: 500px;  // TODO: make responsive;
        p {
            margin-top: 4 * $margin;
            margin-right: 4 * $margin;
        }
    }
    .person-image {
        width: 40%;
        padding-top: 40%;
        border: 2px solid black;
        background-position: 50% 50%;
        background-size: cover;
        margin-bottom: 6 * $margin;
    }
    #process {
        .subheading {
            margin-top: 6 * $margin;
            margin-bottom: 4 * $margin;
            text-align: center;
        }
        .steps p {
            padding-left: 2 * $margin; 
        }
        .workshop-list ul {
            list-style-type: decimal; 
            font-size: 12px;
            padding-left: 4*$margin;
        }
        .img-wrapper { 
            width: 100%;
            height: 140px;
            padding: 12px 0;
            img { max-height: 120px; }
        }
        .step-circle {
            width: 65%; padding-top: 65%;
            border: 2px solid black;
            border-radius: 50%;
            position: relative;
        }
        .step-circle::after {
            content: "";
            border: 1px solid black;
            position: absolute;
            top: 50%; 
            width: 110%; right: -77%;
        }
        .step-circle.last::after {
            content: initial;
        }
    }
    #values, #faq {
        p { padding-left: 10%; }
        .content h4 { padding-top: $margin; }
        .disclaimer { margin-top: 10 * $margin; }
        .disclaimer-text { color: gray; }
    }
    #advisory-network {
        .network-members { margin-top: 3 * $margin; }
    }
    #beautiful-trouble-and-action-aid {
        .blurb { min-height: 12 * $margin; }
        .introduction { 
            padding-bottom: 6 * $margin; 
            text-align: center; 
        }
    }
    #partners {
        h5 { padding-bottom: 48px; }
        .img-wrapper { 
            width: 100%;
            height: 140px;
            img { max-height: 120px; }
        }
    }
    #faq {
        .question { padding-bottom: 3 * $margin; }
    }
}
.platforms, .contribute {
    .page-heading {
        margin-bottom: 6 * $margin;
    }
}
.platforms {
    .platform-image {
        padding-top: 40%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
    h3.title { font-size: 48px; }
    svg-inline { 
        float: right;   //TODO: fix for bidirectional site
        position: relative;
        top: 28px;
        svg * { fill: $darkgray !important; }
    }
    .what, .how, .links {
        padding-top: 2 * $margin;
        h4 { padding-bottom: $margin; }
    }
}
.contribute {
    #how-it-works {
        text-align: center;
    }
    .instructions-heading {
        padding-top: 6 * $margin;
    }
    svg {
        max-width: 100%;
    }
    .types {
        text-align: left;
        .description { 
            display: none; 
            width: 100%;
            position: relative;
            margin-top: 6 * $margin;
        }
        .description::before {
            content: "";
            position: absolute;
            top: -8 * $margin;
            left: 50%;
            height: 6 * $margin;
            border: 1px solid black;
        }
        .active.description { 
            display: inline-block; 
        }
    }
}
.bar-center {
    position: relative;
    height: 90px;
}
.bar-center::after {
    content: "";
    position: absolute;
    bottom: 0; top: 0;
    left: 50%;
    border: 1px solid black;
}


// Development styles
.language-selection {
    display: none;
    span {
        cursor: pointer;
        font-size: 30px;
        border-left: 2px solid black;
        padding: 5px;
        &:first-of-type {
            border-left: none;
        }
        &.selected {
            font-weight: bold;
            font-style: italic;
        }
        &.disabled {
            pointer-events: none;
            color: lightgray;
        }
    }
}

.module-share {
    cursor: not-allowed !important;
    color: #ddd !important;
    svg * {
        fill: #ddd !important;
    }
}
