.type-story a:link, .type-story a:visited, .type-story a:hover, .type-story a:active {
  color: #08eb8c; }

.type-story svg * {
  fill: #08eb8c; }

.type-theory a:link, .type-theory a:visited, .type-theory a:hover, .type-theory a:active {
  color: #f93732; }

.type-theory svg * {
  fill: #f93732; }

.type-tactic a:link, .type-tactic a:visited, .type-tactic a:hover, .type-tactic a:active {
  color: #ff9200; }

.type-tactic svg * {
  fill: #ff9200; }

.type-principle a:link, .type-principle a:visited, .type-principle a:hover, .type-principle a:active {
  color: #166ce3; }

.type-principle svg * {
  fill: #166ce3; }

.type-methodology a:link, .type-methodology a:visited, .type-methodology a:hover, .type-methodology a:active {
  color: #b700c2; }

.type-methodology svg * {
  fill: #b700c2; }

a:link.tactic, a:visited.tactic, a:hover.tactic, a:active.tactic {
  color: #ff9200; }

a:link.methodology, a:visited.methodology, a:hover.methodology, a:active.methodology {
  color: #b700c2; }

a:link.principle, a:visited.principle, a:hover.principle, a:active.principle {
  color: #166ce3; }

a:link.theory, a:visited.theory, a:hover.theory, a:active.theory {
  color: #f93732; }

a:link.story, a:visited.story, a:hover.story, a:active.story {
  color: #08eb8c; }

a:link.black, a:visited.black, a:hover.black, a:active.black {
  color: black; }

a:link.gray, a:visited.gray, a:hover.gray, a:active.gray {
  color: #b3b3b3; }

.tactic {
  color: #ff9200; }

.methodology {
  color: #b700c2; }

.principle {
  color: #166ce3; }

.theory {
  color: #f93732; }

.story {
  color: #08eb8c; }

.black {
  color: black; }

.gray {
  color: #b3b3b3; }

@font-face {
  font-family: 'Avenir';
  src: url("/assets/fonts/Avenir-Book.ttf"); }

@font-face {
  font-family: 'Avenir';
  font-weight: bold;
  src: url("/assets/fonts/Avenir-Black.ttf"); }

@font-face {
  font-family: 'KnockoutBantam';
  src: url("/assets/fonts/Knockout-HTF67-FullBantamwt.otf"); }

@font-face {
  font-family: 'KnockoutCruiser';
  src: url("/assets/fonts/Knockout-HTF72-FullCruiserwt.otf"); }

@font-face {
  font-family: 'MyriadPro';
  src: url("/assets/fonts/MyriadPro-Regular.otf"); }

@font-face {
  font-family: 'Painthand';
  src: url("/assets/fonts/Paint-hand_limited-set.ttf"); }

html {
  overflow-y: scroll;
  overflow-x: hidden; }

body {
  font-family: "Avenir";
  font-size: 14px; }

a:link, a:visited, a:hover, a:active {
  color: #b3b3b3; }

h3 {
  font-family: 'KnockoutBantam';
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1; }

h4 {
  font-family: 'Avenir';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1; }

blockquote {
  font-family: 'Painthand';
  text-transform: uppercase;
  border-left: none;
  position: relative;
  line-height: 1.75;
  margin-bottom: 0; }
  blockquote p {
    padding-top: 18px; }
  blockquote.pull-quote {
    width: 50%;
    float: left; }

blockquote::before {
  position: absolute;
  content: "";
  width: 42px;
  border-top: 2px solid black; }

.module-type {
  font-family: 'Painthand';
  text-transform: uppercase;
  font-size: 20px;
  line-height: 22px; }

.module-title {
  font-family: 'KnockoutBantam';
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1; }

svg * {
  -webkit-transition: fill 0.1s ease-in-out;
  -moz-transition: fill 0.1s ease-in-out;
  transition: fill 0.1s ease-in-out;
  fill: #afafaf; }

svg-inline.selected * {
  fill: black !important; }

.selected {
  font-weight: bold;
  text-decoration: none; }
  .selected svg-inline * {
    fill: black; }

.clickable {
  cursor: pointer; }

.border-top {
  border-top: 2px solid black;
  padding-top: 12px;
  padding-bottom: 12px; }

.border-bottom {
  border-bottom: 2px solid black;
  padding-top: 12px;
  padding-bottom: 12px; }

.nop > p {
  display: inline; }

.contentarea {
  position: relative;
  -webkit-transition: right 0.1s ease-in-out;
  -moz-transition: right 0.1s ease-in-out;
  transition: right 0.1s ease-in-out;
  right: 0; }

.logo {
  position: relative;
  left: 20px;
  top: 20px;
  width: 35%;
  z-index: 100;
  display: inline-block; }

.tools {
  position: absolute;
  border: 2px solid black;
  padding: 6px;
  right: -108px;
  min-height: 100%;
  text-align: center;
  width: 66px; }
  .tools a {
    color: black; }
  .tools .tool-text {
    text-transform: uppercase;
    font-weight: bold;
    color: #afafaf;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out; }
  .tools .selected .tool-text {
    color: black; }
  .tools svg-inline div {
    padding: 24px 0 6px 0; }
  .tools svg-inline.tools-toggle div {
    padding: 12px 0; }
  .tools .tools-toggle svg {
    margin: 6px;
    transform: translate(-2px, 0) rotate(0deg);
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out; }
  .tools.opened .tools-toggle svg {
    transform: translate(-4px, -2px) rotate(60deg); }
  .tools.opened .tools-toggle svg * {
    fill: black; }

.sidebar {
  position: absolute;
  width: 265px;
  right: -371px;
  border: 2px solid black;
  min-height: 100%; }
  .sidebar > div > div {
    padding: 12px; }
  .sidebar .sidebar-icon {
    margin: 6px 0;
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    height: 30px; }
    .sidebar .sidebar-icon.fix-icon path {
      fill: white; }
  .sidebar .sidebar-icon:first-of-type {
    border-right: 2px solid black; }
  .sidebar .downloaders, .sidebar .saved-module, .sidebar .news-feed, .sidebar .information {
    margin: 12px; }
  .sidebar .information svg-inline {
    display: inline-block;
    position: relative;
    top: 8px; }
  .sidebar .saved-module {
    border-top: 2px solid black; }
    .sidebar .saved-module .module-snapshot {
      padding: 12px 0; }
    .sidebar .saved-module .module-title {
      padding-top: 12px; }
    .sidebar .saved-module .module-unsave, .sidebar .saved-module .module-share {
      text-transform: uppercase;
      font-weight: bold;
      color: #afafaf; }
      .sidebar .saved-module .module-unsave svg-inline, .sidebar .saved-module .module-share svg-inline {
        display: inline-block;
        vertical-align: middle; }
    .sidebar .saved-module.first {
      margin-top: 0;
      border-top: 0;
      padding-top: 0; }

menu {
  display: inline-block;
  padding: 0; }

.hamburger-menu-icon svg-inline {
  display: inline-block;
  position: relative;
  left: 6px; }

.hamburger-menu {
  z-index: 1000; }
  .hamburger-menu .overlay {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .25;
    background: #b3b3b3;
    z-index: 950; }

.footer {
  margin: 96px 0 24px 0;
  border-top: 2px solid black;
  text-align: center;
  color: #b3b3b3;
  font-style: italic;
  font-size: 11px; }
  .footer img {
    padding: 12px; }

.search-box {
  padding: 12px;
  padding-top: 24px;
  width: 100%;
  border: 2px solid black;
  outline: none; }
  .search-box::-webkit-input-placeholder {
    font-style: italic; }
  .search-box::-moz-placeholder {
    font-style: italic; }
  .search-box:-moz-placeholder {
    font-style: italic; }
  .search-box:-ms-input-placeholder {
    font-style: italic; }

.gallery-sort {
  text-align: center; }
  .gallery-sort .sort-by {
    text-transform: uppercase; }
  .gallery-sort .view-as, .gallery-sort .sort-by {
    margin-bottom: 48px; }
  .gallery-sort .clickable {
    text-decoration: underline; }

.gallery-search-info {
  padding-top: 12px; }

.gallery-search-clear {
  font-weight: bold;
  padding-right: 24px;
  text-transform: uppercase; }
  .gallery-search-clear .gallery-search-icon {
    font-size: 150%; }

.gallery-module-grid .make-it-square {
  margin-top: 110%; }

.gallery-module-grid .module-save {
  padding-top: 12px; }

.gallery-module-grid .module-title {
  color: white; }

.gallery-module-grid .module-content {
  overflow: hidden;
  padding: 12px;
  z-index: 100; }

.gallery-module-grid .module-image {
  background-size: cover; }

.gallery-module-grid .module-overlay {
  background: black;
  opacity: 0.5;
  z-index: 50; }

.gallery-module-grid .module-content, .gallery-module-grid .module-overlay, .gallery-module-grid .module-image {
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 24px;
  right: 0; }

.gallery-module-grid .module-snapshot {
  position: absolute;
  top: 12px;
  bottom: 12px;
  left: 12px;
  right: 12px;
  font-weight: bold;
  z-index: -50;
  opacity: 0; }

.gallery-module-grid .module-snapshot, .gallery-module-grid .module-hide-on-hover, .gallery-module-grid .module-overlay {
  -webkit-transition: opacity 0.1s ease-in-out;
  -moz-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out; }

.gallery-module-list .module-type-accent {
  padding-top: 24px;
  margin-bottom: 12px;
  width: 15%;
  border-bottom: 2px solid black; }

.gallery-module-list .module-content {
  height: 216px; }

.gallery-module-list .module-snapshot {
  padding-top: 18px; }

detail h5 {
  text-transform: uppercase;
  padding: 6px 12px;
  border: 2px solid black;
  cursor: pointer;
  font-weight: bold;
  display: inline-block; }

detail .module-image {
  padding-top: 34%;
  background-size: cover;
  position: relative; }
  detail .module-image .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background: black;
    opacity: .25; }
  detail .module-image .module-header, detail .module-image .module-image-caption {
    position: absolute;
    top: 18%;
    bottom: 0;
    left: 7%;
    right: 7%;
    color: white;
    z-index: 100; }
  detail .module-image .module-image-caption {
    top: initial; }
  detail .module-image .module-type {
    font-size: 42px; }
  detail .module-image .module-title {
    margin-top: 10px;
    font-size: 80px; }
  detail .module-image .module-save, detail .module-image .module-share {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold; }
    detail .module-image .module-save svg-inline, detail .module-image .module-share svg-inline {
      display: inline-block;
      position: relative;
      top: 8px;
      width: 35px; }
    detail .module-image .module-save svg *, detail .module-image .module-share svg * {
      fill: white; }

detail .left-side, detail .right-side {
  margin-top: 32px; }
  detail .left-side h3.bigger, detail .right-side h3.bigger {
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    font-size: 42px;
    margin-top: 0; }
  detail .left-side h4, detail .right-side h4 {
    padding: 6px 0; }
  detail .left-side .clickable, detail .right-side .clickable {
    text-decoration: underline; }
  detail .left-side .contributor-image, detail .right-side .contributor-image {
    width: 100%;
    max-height: 250px;
    border: 2px solid black; }

detail .right-side .risks {
  margin-bottom: 32px; }
  detail .right-side .risks.clickable {
    text-decoration: none; }
  detail .right-side .risks .heading {
    border-bottom: 6px solid black;
    margin-bottom: 12px; }
    detail .right-side .risks .heading svg-inline, detail .right-side .risks .heading h3 {
      display: inline-block; }
    detail .right-side .risks .heading h3 {
      margin-left: 6px;
      margin-bottom: 4px; }
    detail .right-side .risks .heading .arrow {
      -webkit-transition: transform 0.1s ease-in-out;
      -moz-transition: transform 0.1s ease-in-out;
      transition: transform 0.1s ease-in-out;
      transform: rotate(-90deg) scale(0.75); }
      detail .right-side .risks .heading .arrow svg * {
        fill: #afafaf; }
    detail .right-side .risks .heading .arrow.selected {
      transform: rotate(90deg) scale(0.75); }
      detail .right-side .risks .heading .arrow.selected svg * {
        fill: black; }

detail .right-side .related {
  padding-left: 18px; }
  detail .right-side .related ul {
    list-style-type: square;
    text-transform: uppercase; }
  detail .right-side .related li {
    font-weight: bold;
    padding: 2px 0; }

detail .content {
  margin-top: 32px; }
  detail .content h3 {
    margin-top: 0;
    margin-bottom: 12px; }
  detail .content .module-type {
    margin-top: 18px; }
  detail .content .epigraphs {
    margin: 0 12px 12px 12px; }
    detail .content .epigraphs .attribution {
      color: #b3b3b3; }
  detail .content hr.footnotes-sep {
    display: none; }
  detail .content .learn-more h4 {
    margin: 18px 0; }
  detail .content .learn-more a {
    color: #b3b3b3;
    font-weight: bold;
    text-decoration: underline; }

.language-selection {
  display: none; }
  .language-selection span {
    cursor: pointer;
    font-size: 30px;
    border-left: 2px solid black;
    padding: 5px; }
    .language-selection span:first-of-type {
      border-left: none; }
    .language-selection span.selected {
      font-weight: bold;
      font-style: italic; }
    .language-selection span.disabled {
      pointer-events: none;
      color: lightgray; }

.module-share {
  cursor: not-allowed !important;
  color: #ddd !important; }
  .module-share svg * {
    fill: #ddd !important; }
