// Mixins & Utilities
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}


// Typography
@font-face {
    font-family: 'Avenir';
    src: url('/assets/fonts/Avenir.ttc');
}
@font-face {
    font-family: 'KnockoutBantam';
    src: url('/assets/fonts/Knockout-HTF67-FullBantamwt.otf');
}
@font-face {
    font-family: 'KnockoutCruiser';
    src: url('/assets/fonts/Knockout-HTF72-FullCruiserwt.otf');
}
@font-face {
    font-family: 'MyriadPro';
    src: url('/assets/fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: 'Painthand';
    src: url('/assets/fonts/Paint-hand_limited-set.ttf');
}
.module-type {
    font-family: 'Painthand';
    text-transform: uppercase;
}
.module-title {
    font-family: 'KnockoutBantam';
    text-transform: uppercase;
}
h3 {
    font-family: 'KnockoutBantam';
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1;
}


// General
$margin: 6px;
$transition: 0.25s;

svg-icon.selected * {
    fill: black;
}
.clickable {
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
}
.selected {
    font-weight: bold;
    text-decoration: none;
}
.border-top {
    border-top: 2px solid black;
    padding-top: 2 * $margin;
    padding-bottom: 2 * $margin;
}
.border-bottom {
    border-bottom: 2px solid black;
    padding-top: 2 * $margin;
    padding-bottom: 2 * $margin;
}


// Colors
.tactic         { color: #f68412; }
.methodology    { color: #9a2999; }
.principle      { color: #4365b9; }
.theory         { color: #ee2a32; }
.story          { color: #60c671; }
.gray           { color: #b3b3b3; }


// Gallery
.gallery-sort {
    text-align: center;
    .sort-by {
        text-transform: uppercase;
    }
    .view-as, .sort-by {
        margin-bottom: 8 * $margin;
    }
}
.gallery-module-grid {
    .make-it-square {
        margin-top: 110%;
    }
    .module-save {
        padding-top: 2 * $margin;
    }
    .module-type {
        font-size: 20px;
        line-height: 22px;
    }
    .module-title {
        color: white;
        font-size: 30px;
        line-height: 1;
    }
    .module-content {
        overflow: hidden;
        background-size: cover;
        padding: 2 * $margin;
        z-index: 100;
    }
    .module-overlay {
        background: black;
        opacity: 0.5;
        z-index: 50;
    }
    .module-content, .module-overlay, .module-image, .module-snapshot {
        position: absolute;
        top: 2 * $margin; bottom: 2 * $margin;
        left: 2 * $margin; right: 2 * $margin;
    }
    .module-snapshot {
        z-index: -1;
        opacity: 0;
    }
    .module-snapshot, .module-hide-on-hover, .module-overlay {
        @include prefix(transition, opacity $transition ease-in-out, webkit moz);
    }
}




.language-selection span {
  cursor: pointer;
  font-size: 30px;
  border-left: 2px solid black;
  padding: 5px;
  &:first-of-type {
    border-left: none;
  }
  &.selected {
    font-weight: bold;
    font-style: italic;
  }
  &.disabled {
    pointer-events: none;
    color: lightgray;
  }
}

