<div class="container" addSectionToRoute="/about" thresholdElement="#fixed-nav" thresholdOffset="20px">
    <div class="row">
        <section id="beautiful-rising">
            <div #first style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>Rising</h1></div>
        </section>
        <section id="process">
            <div #second style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>Process</h1></div>
        </section>
        <section id="values">
            <div style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>Values</h1></div>
        </section>
        <section id="advisory-network">
            <div style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>Advisory Network</h1></div>
        </section>
        <section id="team">
            <div style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>team</h1></div>
        </section>
        <section id="beautiful-trouble-and-action-aid">
            <div style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>BTAA:</h1></div>
        </section>
        <section id="partners">
            <div style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>Partners</h1></div>
        </section>
        <section id="faq">
            <div style="background:pink; height:600px; border-bottom:5px solid red;">
                <h1>FAQ</h1></div>
        </section>
    </div>
</div>
